################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Meaoc-API/.vs/Meaoc-API/v15
/.vs
/Meaoc-API/.vs
/Web.config
