<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Meaoc</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul *ngIf="!isUserAuthenticated() ? true : false; else authorizedUserMenu" class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Sign In</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">Create Account</a>
        </li>
    </ul>

    <ng-template #authorizedUserMenu>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home/messages" routerLinkActive="active">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="logout()">Log out</a>
        </li>
      </ul>
    </ng-template>

  </div>
</nav>